.single_experience {
  background: #e6e8c9;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 1px solid #0e7467;
}

.experience_item {
  width: 47%;
  min-height: 13rem;
  margin-bottom: 15px;
}

.experience_title span {
  font-weight: 300 !important;
  color: #3b3f4a;
  opacity: 80% !important;
  font-size: 0.8rem;
}

.experience_comdiv {
  color: #3b3f4a;
  font-weight: 600;
  margin-bottom: 5px;
}

.red {
  color: #9c2052;
}

.experience_year {
  color: #0e7467;
  font-weight: bold;
  margin-bottom: 10px;
}
